/* Nav CSS */

.navbar-custom {
    background-color: #333;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #fff;
  }
  
  .navbar-custom .nav-link:hover {
    color: #ddd;
  }
  