/* Welcome/alert CSS */

.alert-custom {
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 20px;
}

.btn-custom {
  background-color: #fff;
  border-color: #333;
  color: #333;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-custom:hover {
  background-color: #000000;
  color: white;
}

.btn-show-alert {
  margin-top: 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-show-alert:hover {
  background-color: #000000;
}
  